{% extends 'posts/base.html' %}
{% load static %}

           
{%block content%}
            <!-- header end -->
            <!-- ========== -->
            
            <!-- ================== -->
            <!-- site-content start -->
            <main class="site-content">
                <div class="innerPage-banner">
                    <div class="container">
                        <div class="d-flex flex-wrap">
                            <div class="pageBanner-content">
                                <h1>Praise IT Solutions</h1>
                                <h2>Team Members</h2>
                                <div class="breadcrumbs">
                                    <a href="{% url 'index'%}">Home</a>
                                    <span>Team Members</span>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="scroling-lines">
                        <span>
                            <span data-parallax='{"y":750, "smoothness":45}'></span>
                        </span>
                        <span>
                            <span data-parallax='{"y":-550, "smoothness":55}'></span>
                        </span>
                        <span>
                            <span data-parallax='{"y":250, "smoothness":65}'></span>
                        </span>
                        <span>
                            <span data-parallax='{"y":650, "smoothness":25}'></span>
                        </span>
                        <span>
                            <span data-parallax='{"y":-450, "smoothness":45}'></span>
                        </span>
                    </div>
                </div>
                <!-- /.innerPage-banner -->

                <div class="page- col-sm-6content team-page">
                    <div class="team-members">
                        <!-- ================== -->
                        <!-- team-section start -->
                        <div class="team-section">
                            <div class="container-xl">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp">
                                            <img src="{%static 'assets/img/team/team-page/01.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Chandra Linkous</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp" data-wow-delay="0.3s">
                                            <img src="{%static 'assets/img/team/team-page/02.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Richelle Laughlin</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp" data-wow-delay="0.6s">
                                            <img src="{%static 'assets/img/team/team-page/03.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Francina Harter</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp">
                                            <img src="{%static 'assets/img/team/team-page/04.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Rolanda Brumfield</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp" data-wow-delay="0.3s">
                                            <img src="{%static 'assets/img/team/team-page/05.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Rolanda Brumfield</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <figure class="team-member wow animate__animated animate__slow animate__fadeInUp" data-wow-delay="0.6s">
                                            <img src="{%static 'assets/img/team/team-page/06.jpg'%}" alt="Team Member Name" />
                                            <figcaption>
                                                <h3>Rolanda Brumfield</h3>
                                                <p>Installation Mechanic</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- team-section end -->
                        <!-- ================ -->

                        <!-- ====================== -->
                        <!-- partners-section start -->
                        <div class="partners-section footer-space">
                            <div class="container-xl">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6">
                                        <div class="section-header text-center text-white wow animate__animated animate__slow animate__fadeInUp">
                                            <h2>Our Trusted Partners</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting text ever since the printer took a galley.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="partners-container">
                                    <div class="row no-gutters justify-content-center">
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/01.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/01h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'ssets/img/partners/02.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/02h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/03.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/03h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/04.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/04h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/05.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/05h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/06.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/06h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/07.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/07h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <figure>
                                                <a>
                                                    <img src="{%static 'assets/img/partners/08.png'%}" alt="Partners Name" />
                                                    <img src="{%static 'assets/img/partners/08h.png'%}" alt="Partners Name" class="hover-img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- partners-section end -->
                        <!-- ==================== -->
                    </div>
                </div>
                <!-- /.page-content -->
            </main>
            <!-- site-content end -->
            <!-- ================ -->

            <!-- ============ -->
            <!-- footer start -->
{% endblock %}