 <div class="partners-section">
                        <div class="container-xl">
                            <div class="row justify-content-center">
                                <div class="col-xl-6">
                                    <div class="section-header text-center text-white wow animate__animated animate__slow animate__fadeInUp">
                                        <h2>Our Trusted Partners</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting text ever since the printer took a galley.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="partners-container">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/01.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/01h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/02.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/02h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/03.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/03h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/04.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/04h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/05.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/05h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/06.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/06h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/07.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/07h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <figure>
                                            <a>
                                                <img src="{%static 'assets/img/partners/08.png'%}" alt="Partners Name" />
                                                <img src="{%static 'assets/img/partners/08h.png'%}" alt="Partners Name" class="hover-img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- partners-section end -->
                    <!-- ==================== -->

                    <!-- ======================= -->
                    <!-- testimony-section start -->
                    <div class="testimony-section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6">
                                    <div class="section-header text-center wow animate__animated animate__slow animate__fadeInUp">
                                        <h2>We Have Received Tons of Awesome Testimonials</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting text ever since the printer took a galley.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimony-area">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="review-buttons">
                                            <div class="row no-gutters">
                                                <div class="col-4">
                                                    <figure class="wow animate__animated animate__fadeInBottomRight">
                                                        <a href="#" data-review="1" class="review-btn active">
                                                            <img src="{%static 'assets/img/testimony/01.jpg'%}" alt="Reviewed by" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-4 offset-4">
                                                    <figure class="wow animate__animated animate__fadeInBottomLeft">
                                                        <a href="#" data-review="2" class="review-btn">
                                                            <img src="{%static 'assets/img/testimony/02.jpg'%}" alt="Reviewed by" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-4 offset-4">
                                                    <figure>
                                                        <a href="#" data-review="3" class="review-btn">
                                                            <img src="{%static 'assets/img/testimony/03.jpg'%}" alt="Reviewed by" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-4">
                                                    <figure class="wow animate__animated animate__fadeInTopRight">
                                                        <a href="#" data-review="4" class="review-btn">
                                                            <img src="{%static 'assets/img/testimony/04.jpg'%}" alt="Reviewed by" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-4 offset-4">
                                                    <figure class="wow animate__animated animate__fadeInTopLeft">
                                                        <a href="#" data-review="5" class="review-btn">
                                                            <img src="{%static 'assets/img/testimony/05.jpg'%}" alt="Reviewed by" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="testimony-content">
                                            <div class="review-single active">
                                                <div class="review-inner overflow-hidden">
                                                    <img src="{%static 'assets/img/quote.png'%}" alt="Quote" class="animate__animated animate__fadeInUp animate__slower" />
                                                    <p class="animate__animated animate__fadeInLeft">
                                                        It has survived not only five an centuries typeset remaining essentially unchanged popular the release and more recent five and centurbut also these tesetng remaining essentially.
                                                    </p>
                                                    <div class="reviewer d-flex align-items-center animate__animated animate__fadeInLeft animate__slow">
                                                        <img src="{%static 'assets/img/testimony/01.jpg'%}" alt="Reviewed By" />
                                                        <div class="reviewed-by">
                                                            <h3>Allexa William</h3>
                                                            <span>UI/UX Designer</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-single">
                                                <div class="review-inner overflow-hidden">
                                                    <img src="{%static 'assets/img/quote.png'%}" alt="Quote" class="animate__animated animate__fadeInUp animate__slow" />
                                                    <p class="animate__animated animate__fadeInLeft">
                                                        It has survived not only five an centuries typeset remaining essentially unchanged popular the release and more recent five and centurbut also these tesetng remaining essentially.
                                                    </p>
                                                    <div class="reviewer d-flex align-items-center animate__animated animate__fadeInLeft animate__slow">
                                                        <img src="{%static 'assets/img/testimony/02.jpg'%}" alt="Reviewed By" />
                                                        <div class="reviewed-by">
                                                            <h3>John Doe</h3>
                                                            <span>QA Manager</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-single">
                                                <div class="review-inner overflow-hidden">
                                                    <img src="{%static 'assets/img/quote.png'%}" alt="Quote" class="animate__animated animate__fadeInUp animate__slow" />
                                                    <p class="animate__animated animate__fadeInLeft">
                                                        It has survived not only five an centuries typeset remaining essentially unchanged popular the release and more recent five and centurbut also these tesetng remaining essentially.
                                                    </p>
                                                    <div class="reviewer d-flex align-items-center animate__animated animate__fadeInLeft animate__slow">
                                                        <img src="{%static 'assets/img/testimony/03.jpg'%}" alt="Reviewed By" />
                                                        <div class="reviewed-by">
                                                            <h3>Birgit Robb</h3>
                                                            <span>UI/UX Designer</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-single">
                                                <div class="review-inner overflow-hidden">
                                                    <img src="{%static 'assets/img/quote.png'%}" alt="Quote" class="animate__animated animate__fadeInUp animate__slow" />
                                                    <p class="animate__animated animate__fadeInLeft">
                                                        It has survived not only five an centuries typeset remaining essentially unchanged popular the release and more recent five and centurbut also these tesetng remaining essentially.
                                                    </p>
                                                    <div class="reviewer d-flex align-items-center animate__animated animate__fadeInLeft animate__slow">
                                                        <img src="{%static 'assets/img/testimony/04.jpg'%}" alt="Reviewed By" />
                                                        <div class="reviewed-by">
                                                            <h3>Anna Rogario</h3>
                                                            <span>UI/UX Developer</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-single">
                                                <div class="review-inner overflow-hidden">
                                                    <img src="{%static 'assets/img/quote.png'%}" alt="Quote" class="animate__animated animate__fadeInUp animate__slow" />
                                                    <p class="animate__animated animate__fadeInLeft">
                                                        It has survived not only five an centuries typeset remaining essentially unchanged popular the release and more recent five and centurbut also these tesetng remaining essentially.
                                                    </p>
                                                    <div class="reviewer d-flex align-items-center animate__animated animate__fadeInLeft animate__slow">
                                                        <img src="{%static 'assets/img/testimony/05.jpg'%}" alt="Reviewed By" />
                                                        <div class="reviewed-by">
                                                            <h3>Zoya Sabastian</h3>
                                                            <span>SEO Specialist</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>